[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==4.4.0.46"
opencv-python-headless = "==4.4.0.46"

[dev-packages]

[requires]
python_version = "3.9"
